#logo {
    width: 100px;
    height: 100px;
}

#padding0 {
    padding: 0;
}

#btn {
    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    width: 100px;
    background-color: rgb(255, 221, 71);
}

#submitbtn {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 300px;
}

h1,
p,
b {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}